.row {
  display: flex;
  margin: 10px;
  padding: 10px;
  color: white;
}

.primary {
  background-color: #6A7EA6;
}
.secondary {
  background-color: #5BA892;
}

.dark {
  background-color: #474B59;
}
.medium-light {
  background-color: #878DA8;
}
.light {
  background-color: #D1DAEB;
}


.info {
  background-color: #466FE8;
}
.success {
  background-color: #AFDB6E;
}
.warning {
  background-color: #F2CB6D;
}
.danger{
  background-color: #E87E68;
}

